{% extends 'main.html' %}


{% block content %}

<style>
    .profile-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<!-- {% include 'chatbase/topic_component.html' %} -->

<h1>{{user.username}}</h1>

<div class="profile-container">
    <div>
        {% include 'chatbase/topic_component.html' %}
    </div>

    <div>
        {% include 'chatbase/feed_component.html' %}
    </div>

    <div>
        {% include 'chatbase/activity_component.html' %}
    </div>
</div>

{% endblock content %}